.container{
/*   border:3px solid green; */
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:30px;
}
.box{
/*   border:2px solid black; */
  height: 60px;
  border-radius: 20px;
}
.red{
  background-color:red;
  grid-column: 1/ span 2;
  /*grid-column-start:1;
  grid-column-end:3;
}*/
}
.blue{
  background-color:blue;
  grid-column-start:3;
  grid-column-end:end;
}
.green{
  background-color:green;
}
.purple{
  background-color:purple;
  grid-column-start:2;
  grid-column-end:end;
}
.yellow{
  background-color:yellow;
  grid-column-start:1;
  grid-column-end:end;
}